<div class="footer-container container-fluid">
  <footer class="footer row row-cols-1 row-cols-sm-2 row-cols-md-6 py-5 justify-content-between">
    

    <div class="col mb-3">
      <img class="logo" src="../../assets/images/logo.svg" alt="Logo">
    </div>

        <div class="col mb-3">
        </div>
  
    <div class="footer-col col mb-3">
      <h5>Features</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Link Shortening</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Branded Links</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Analytics</a></li>
      </ul>
    </div>
  
    <div class="col mb-3">
      <h5>Resources</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Blog</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Developers</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Support</a></li>
      </ul>
    </div>
  
    <div class="col mb-3">
      <h5>Company</h5>
      <ul class="nav flex-column">
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">About</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Our Team</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Careers</a></li>
        <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-body-secondary">Contact</a></li>
      </ul>
    </div>
  
    
    <div class="col-md-2 d-flex align-items-start justify-content-end">
      <ul class="nav list-unstyled d-flex mb-0">
        <li class="ms-3">
          <a class="text-body-secondary" href="https://www.facebook.com" target="_blank">
            <img class="bi" width="24" height="24" src="../../assets/images/icon-facebook.svg" alt="Facebook">
          </a>
        </li>
        <li class="ms-3">
          <a class="text-body-secondary" href="https://www.twitter.com" target="_blank">
            <img class="bi" width="24" height="24" src="../../assets/images/icon-twitter.svg" alt="Twitter">
          </a>
        </li>
        <li class="ms-3">
          <a class="text-body-secondary" href="https://www.pinterest.com" target="_blank">
            <img class="bi" width="24" height="24" src="../../assets/images/icon-pinterest.svg" alt="Pinterest">
          </a>
        </li>
        <li class="ms-3">
          <a class="text-body-secondary" href="https://www.instagram.com" target="_blank">
            <img class="bi" width="24" height="24" src="../../assets/images/icon-instagram.svg" alt="Instagram">
          </a>
        </li>
      </ul>
    </div>
    
    
  </footer>
</div>
