.footer-container {
    background-color: hsl(260, 8%, 14%);
    color: white;
}

.footer {
    max-width: 1150px;
    margin: 0 auto;
}

.logo {
    filter: invert(100%) brightness(200%);
}

.footer-container li a {
    color: hsl(257, 7%, 63%) !important;
    font-size: 16px;
}

.col-md-2 {
    padding: 0;
}

.nav {
    padding-top: 20px;
    margin: 0 auto;
}

.nav-item {
    margin-left: 10px; 
}


@media (min-width: 1440px) {
    .footer-container {
        padding: 30px 200px; 
    }
}


@media (max-width: 375px) {
    .footer-container {
        padding: 20px 20px; 
        text-align: center; 
        justify-content: center; 
    }

    .footer-container li a {
        font-size: 14px; 
    }

    footer {
        margin: 0 auto;
    }
}
