<div class="hero-section">
  <div class="container col-l-8 py-5 hero-container">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="img col-10 col-sm-8 col-lg-6">
        <img src="../../assets/images/illustration-working.svg" class="hero-img d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="1200" height="700" loading="lazy">
      </div>
      <div class="intro col-lg-6">
        <h1 class="display-6 fw-bold text-body-emphasis lh-2 mb-3">More than just shorter links</h1>
        <p>Build your brand’s recognition and get detailed insights on how your links are performing.</p>
        <div class="d-grid gap-2 d-md-flex justify-content-md-start">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Get started</button>
        </div>
      </div>
    </div>
  </div>
</div>
