.form-container {
  margin: 0 auto;
  max-width: 1150px;
  position: relative;
  z-index: 2;
}

.custom-form {
  border-radius: 10px;
  padding: 40px;
  background-color: hsl(257, 27%, 26%);
  background-image: url('src/assets/images/bg-shorten-desktop.svg');
  max-width: 1100px;
  margin: 0 auto;
}

.form-entry {
  flex: 1;
}

.custom-input {
  height: 60px;
  font-size: 18px;
  border-radius: 10px;
  width: 100%;
}

.custom-btn {
  height: 60px;
  font-size: 20px;
  background-color: hsl(180, 66%, 49%);
  border: none;
  width: 100%;
  font-weight: 600;
  border-radius: 10px;
}

.invalid-feedback {
  color: red;
  display: block;
  margin-top: 5px;
}



@media (max-width: 1024px) {
  .custom-form {
    width: 90%;
    margin: 0 auto;
    padding: 30px;
    gap: 15px;
  }

  .form-container {
    padding: 0px 20px;
  }
}

@media (max-width: 768px) {
  .custom-form {
    padding: 30px;
  }

  .custom-input,
  .custom-btn,
  .invalid-feedback {
    width: 100%; 
  }
}

@media (max-width: 500px) {
  .custom-form {
    padding: 20px 5px;
    width: 100%;
  }

  .form-entry,
  .form-btn {
    width: 100%;
  }

  .custom-input,
  .custom-btn {
    width: 100%; 
  }
}
