.stats-container {
  background-color: hsla(258, 27%, 26%, 0.109);
  padding: 200px 150px 100px 150px;
  color: hsl(260, 8%, 14%);
  margin-top: 70px; 
  position: relative;
  z-index: 1; 
  padding-top: 50px; 
  overflow: visible; 
}

.stat-title {
  text-align: center;
  padding-bottom: 60px;
}

.stat-title h1 {
  font-weight: 700;
  padding-bottom: 20px;
}

.stat-title p {
  color: hsl(257, 7%, 63%);
  font-weight: 500;
  line-height: 2;
}

.row-cols-1 > .col, 
.row-cols-md-3 > .col {
  display: flex;
  justify-content: center;
  position: relative;
  padding-right: 20px; 
  padding-left: 20px; 
  margin-bottom: 40px; 
}

.card {
  background-color: white;
  border: none;
  border-radius: 5px;
  padding: 20px;
  width: 325px; 
  position: relative;
  z-index: 2; 
  height: 250px;
}

.card-title {
  padding-top: 30px;
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 15px;
  color: hsl(257, 27%, 26%);
}

.card-text {
  font-size: 1rem;
  color: hsl(257, 7%, 63%);
  font-weight: 500;
}


.icon-container {
  width: 80px;
  height: 80px;
  background-color: hsl(257, 27%, 26%);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -35px;
  left: 20px;
  z-index: 3;
}

.icon-container img {
  width: 35px;
  height: 35px;
}


.row-cols-md-3 > .col:not(:last-child)::after {
  content: '';
  width: 100px;
  height: 8px;
  background-color: hsl(180, 66%, 49%);
  position: absolute;
  top: 50%;
  left: 90%;
  transform: translateY(-50%);
  z-index: 1;
}

.row .col:nth-child(1) .card {
  margin-top: 0;
}

.row .col:nth-child(2) .card {
  margin-top: 60px; 
}

.row .col:nth-child(3) .card {
  margin-top: 120px; 
}


@media (max-width: 768px) {
  .stat-title h1 {
    font-size: 2rem;
  }

  .stat-title p {
    font-size: 0.9rem;
  }

  .row-cols-1 > .col, 
  .row-cols-md-3 > .col {
    margin-bottom: 20px;
  }

  .row-cols-md-3 > .col:not(:last-child)::after {
    width: 50px;
  }
}


.stats-container::before {
  content: '';
  position: absolute;
  top: -150px; 
  left: 0;
  width: 100%;
  height: 150px;
  background-color: hsla(258, 27%, 26%, 0.109);
  z-index: -1; 
}